.shows {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #222;
  padding: 10px;
  flex-wrap: wrap;
}

.show {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.show:hover {
  color: #ffcc00;
}

.show-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
  flex-wrap: wrap;
}
